@import 'variables';

.spacer {
  flex: 1 1 auto;
}
h1 {
  padding: 0 1rem;
}

h2 {
  padding: 1rem;
}

mat-toolbar {
  background-color: $cor-primaria;
  color: white;
  position: fixed;
  top: 0;
  z-index: 2;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  max-width: 280px;
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }

  .entry {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 0 0.75rem 0;
  }
}

mat-sidenav-content {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
}

mat-nav-list {
  a {
    padding-left: 15px;
    height: 35px;
  }
}

mat-expansion-panel-header {
  padding-left: 16px;
}

.mat-badge {
  line-height: 15px;
}

.menu-item {
  font-size: 15px;
}
